ws-training-api/src/main/resources/wsdl/ws-training-provider.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
      xmlns:xs="http://www.w3.org/2001/XMLSchema"
      xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
      xmlns="urn:com:asseco:aha:training:ws:v1" 
      xmlns:dto="urn:com:asseco:aha:training:types:v1" 
      targetNamespace="urn:com:asseco:aha:training:ws:v1"
      name="ProviderAPI">

	<wsdl:documentation>Version 0.0.1</wsdl:documentation>

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="urn:com:asseco:aha:training:types:v1" schemaLocation="../xsd/ws-training-types.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="ProviderRequest">
		<wsdl:part element="dto:ProviderRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="ProviderResponse">
		<wsdl:part element="dto:ProviderResponse" name="response" />
	</wsdl:message>
	<wsdl:message name="ProviderRequestExtended">
		<wsdl:part element="dto:ExtendedProviderRequest" name="request" />
	</wsdl:message>

	<wsdl:portType name="WsTrainingProviderPortType">
		<jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
			<jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
		</jaxws:bindings>
		<wsdl:operation name="echo">
			<wsdl:input message="ProviderRequest" name="ProviderRequest"/>
			<wsdl:output message="ProviderResponse" name="ProviderResponse"/>
		</wsdl:operation>
		<wsdl:operation name="echoExtended">
			<wsdl:input message="ProviderRequestExtended" name="ProviderRequestExtended"/>
			<wsdl:output message="ProviderResponse" name="ProviderResponseExtended"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="WsTrainingProviderBinding" type="WsTrainingProviderPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="echo">
			<soap:operation soapAction="echo" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="echoExtended">
			<soap:operation soapAction="echoExtended" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
		
	<wsdl:service name="WsTrainingProvider">
		<wsdl:port binding="WsTrainingProviderBinding" name="WsTrainingProviderService">
			<soap:address location="???" />
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>